p{
    text-align: center;
    font-size: 24px;
    background-color: #94B4C1;
}


h2, h3, h4{
    background-color: #ECEFCA;
}

h1{
    background-color: #213448;
    color: white;
}

body{
    background-image: url("image.png");
}
